#editors ====
.vscode
.vs

#compilation ====
*.o
*.exe
/out
/dist
/res
#This line is only for keep the old makefile for the engine safe
OldEngine.nxp

#libs ====
libs

#devtools ====
node_modules
!devtools/bin/*.exe
package-lock.json